.nav{
    background-color: #A5D1C9;
}
.vaccinationNotification{
    background-color: #C3D4D3;
}
.notificationbtn{
    background-color: #9DC7D4;
}
.vacCalendar{
    background-color: #DCE8E8;
}
.services{
    background-color: #9DC7D4;
}
.footerBg{
    background-color: #A5D1C9;
}