.nav{
    background-color: #A5D1C9;
}
.vaccinationNotification{
    background-color: #C3D4D3;
}
.notificationbtn{
    background-color: #9DC7D4;
}
.vacCalendar{
    background-color: #DCE8E8;
}
.services{
    background-color: #9DC7D4;
}
.footerBg{
    background-color: #A5D1C9;
}
.customeShadow{
    filter: drop-shadow(10px 10px 4px #5B6866);
}

.services:hover {
    /* transform: scale(1.05); */
    transition: all 0.5s ease;
    filter: drop-shadow(0 0 0.9rem rgb(20, 220, 87));
  }